<div class="banner">
  HEADER
</div>
<mat-toolbar color="primary">
  <span>IT-webshop</span>

  <!-- This fills the remaining space of the current row -->
  <span class="example-fill-remaining-space"></span>

<!--<button id="adduser" *ngIf="role=='admin'"></button>-->
  <!--<button id="edituser" *ngIf="role=='admin'"></button>-->

  <p *ngIf="name!=null" >Welkom {{name}}</p>




  <mat-menu #userMenu="matMenu" >
    <button mat-menu-item *ngIf="name!=null" routerLink="/user">Mijn gegevens</button>
    <button mat-menu-item *ngIf="name!=null" routerLink="/bestelling">Bestellingen</button>
    <button mat-menu-item routerLink="/admin" *ngIf="role=='admin'">Admin opties</button>
    <button (click)="logout()"mat-menu-item *ngIf="name!=null">Uitloggen</button>
    <button mat-menu-item routerLink="/login" *ngIf="name==null">Inloggen</button>

  </mat-menu>

  <button mat-icon-button [matMenuTriggerFor]="userMenu">
    <mat-icon><i class="material-icons md-48">account_circle</i>gebruiker</mat-icon>
  </button>
  </mat-toolbar>

