
<button mat-icon-button id="close" (click)="onNoClick()">
  <mat-icon><i class="material-icons">close</i></mat-icon>
</button>

<form (ngSubmit)="onSubmit()" #loginForm="ngForm" >


  <div class="loginlabel">
    <h1>Register</h1>
  </div>
  <div class="input">
    <mat-form-field class="example-full-width">
    <input matInput placeholder="Gebruikersnaam" type="text" required
           [(ngModel)]="user.username" name="username">
    </mat-form-field>
  </div>
  <div class="input">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Wachtwoord" type="text"  required [(ngModel)]="user.password" name="password">
    </mat-form-field>
  </div>
  <div class="input">
    <mat-form-field class="example-full-width">
    <input matInput placeholder="Voornaam" type="text"  required [(ngModel)]="user.firstname" name="firstname">
    </mat-form-field>
  </div>
  <div class="input">
    <mat-form-field class="example-full-width">
    <input matInput placeholder="Tussenvoegsel" type="text"  required [(ngModel)]="user.preposition" name="preposition">
    </mat-form-field>
  </div>
  <div class="input">
    <mat-form-field class="example-full-width">
    <input matInput placeholder="Achternaam" type="text"  required [(ngModel)]="user.lastname" name="lastname">
    </mat-form-field>
  </div>
  <div class="input">
    <mat-form-field class="example-full-width">
    <input matInput placeholder="Email" type="text"  required [(ngModel)]="user.email" name="email">
    </mat-form-field>
  </div>

  <!--<div class="input">-->
    <!--<input placeholder="Rol" type="text"  required [(ngModel)]="user.role" name="Role">-->
  <!--</div>-->
  <!--<mat-slide-toggle-->
    <!--[color]="color"-->
    <!--[checked]="checked"-->
    <!--[disabled]="disabled" [(ngModel)]="checked">-->

    <!--Admin-->
  <!--</mat-slide-toggle>-->
  <mat-form-field *ngIf="role=='admin'">
    <mat-select [(value)]="user.role">
      <mat-option value="guest">Guest</mat-option>
      <mat-option value="admin">Admin</mat-option>
    </mat-select>
  </mat-form-field>
  <div class="input">
      <button mat-raised-button input type="submit">Registeren</button>
    <!--<button mat-raised-button (click)="onNoClick()">Annuleren</button>-->
    <!--<button mat-raised-button>Basic</button>-->
    <!--<input type="submit" class="inputbutton link" [disabled]="!loginForm.valid">-->
  </div>
</form>
