
  <div id="knoppen">
  <button id="adduser" (click)="openAddUser()"></button>
  <button id="edituser" (click)="openEditUser()"></button>

  </div>
<mat-tab-group>
<mat-tab>
  <ng-template mat-tab-label>
    Product opties
  </ng-template>

  <ng2-smart-table  [settings]="settings" [source]="allProducts | async"
                    (rowSelect)="onSelect($event)"
                    (createConfirm)="productToevoegen($event)"
                    (editConfirm)="editProduct($event)"
                    (deleteConfirm)="productVerwijderen($event)"
                    (edit)="onRowEdit($event)">
    <!--(custom)="approveProduct($event)"-->
  </ng2-smart-table>

</mat-tab>


</mat-tab-group>
