  <!--<section class="center-container">-->

  <!--<div id="table-wrapper">-->
    <!--<div id="table-scroll">-->
  <div id="knoppen">
  <button id="adduser"></button>
  <button id="edituser"></button>
  </div>
<mat-tab-group>
<mat-tab>
  <ng-template mat-tab-label>
    Product opties
  </ng-template>

  <ng2-smart-table  [settings]="settings" [source]="allProducts | async"
                    (rowSelect)="onSelect($event)"
                    (createConfirm)="productToevoegen($event)"
                    (editConfirm)="editProduct($event)"
                    (deleteConfirm)="productVerwijderen($event)"
                    (custom)="approveProduct($event)"
                    (edit)="onRowEdit($event)">
  </ng2-smart-table>

</mat-tab>


</mat-tab-group>
<button (click)="test()"></button>

  <li *ngFor="let product of allProducts">
    {{ product.omschrijving }}
  </li>

  <!--</div>-->
  <!--</div>-->
<!--</section>-->

<!--<div id="admincomponent">-->
  <!--<mat-accordion>-->
  <!--<mat-expansion-panel>-->
    <!--<mat-expansion-panel-header>-->
      <!--<mat-panel-title>-->
        <!--Aanmaken gebruiker-->
      <!--</mat-panel-title>-->
      <!--<mat-panel-description>-->
      <!--</mat-panel-description>-->
    <!--</mat-expansion-panel-header>-->

    <!--<mat-form-field>-->
      <!--<input matInput placeholder="Voornaam">-->
    <!--</mat-form-field>-->

    <!--<mat-form-field>-->
      <!--<input matInput placeholder="Tussenvoegsel">-->
    <!--</mat-form-field>-->

    <!--<mat-form-field>-->
      <!--<input matInput placeholder="Achternaam">-->
    <!--</mat-form-field>-->

    <!--<mat-form-field>-->
      <!--<input matInput placeholder="Email">-->
    <!--</mat-form-field>-->

    <!--<mat-form-field>-->
      <!--<input matInput placeholder="Password">-->
    <!--</mat-form-field>-->

    <!--<mat-form-field>-->
      <!--<input matInput placeholder="Functie">-->
    <!--</mat-form-field>-->

    <!--<mat-form-field>-->
      <!--<input matInput placeholder="Locatie">-->
    <!--</mat-form-field>-->

    <!--<mat-form-field>-->
      <!--<mat-select placeholder="Flair">-->
        <!--<mat-option *ngFor="let flair of flairs" [value]="flair.value">-->
          <!--{{ flair.viewValue }}-->
        <!--</mat-option>-->
      <!--</mat-select>-->
    <!--</mat-form-field>-->
    <!--<p></p>-->
    <!--<mat-slide-toggle>actief/inactief</mat-slide-toggle>-->

    <!--<mat-checkbox>Admin</mat-checkbox>-->
    <!--<p></p>-->
    <!--<button mat-raised-button id="aanmaken">Aanmaken</button>-->
  <!--</mat-expansion-panel>-->
  <!--<mat-expansion-panel>-->
    <!--<mat-expansion-panel-header>-->
      <!--<mat-panel-title>-->
        <!--Aanpassen gebruiker-->
      <!--</mat-panel-title>-->
      <!--<mat-panel-description>-->
      <!--</mat-panel-description>-->
    <!--</mat-expansion-panel-header>-->

    <!--<mat-form-field>-->
      <!--<mat-select placeholder="Select user">-->
        <!--<mat-option *ngFor="let user of users" [value]="user.value">-->
          <!--{{ user.viewValue }}-->
        <!--</mat-option>-->
      <!--</mat-select>-->
    <!--</mat-form-field>-->
    <!--<p></p>-->

    <!--<mat-form-field>-->
      <!--<input matInput placeholder="Voornaam">-->
    <!--</mat-form-field>-->

    <!--<mat-form-field>-->
      <!--<input matInput placeholder="Tussenvoegsel">-->
    <!--</mat-form-field>-->

    <!--<mat-form-field>-->
      <!--<input matInput placeholder="Achternaam">-->
    <!--</mat-form-field>-->

    <!--<mat-form-field>-->
      <!--<input matInput placeholder="Email">-->
    <!--</mat-form-field>-->

    <!--<mat-form-field>-->
      <!--<input matInput placeholder="Password">-->
    <!--</mat-form-field>-->

    <!--<mat-form-field>-->
      <!--<input matInput placeholder="Functie">-->
    <!--</mat-form-field>-->

    <!--<mat-form-field>-->
      <!--<input matInput placeholder="Locatie">-->
    <!--</mat-form-field>-->

    <!--<mat-form-field>-->
      <!--<mat-select placeholder="Flair">-->
        <!--<mat-option *ngFor="let flair of flairs" [value]="flair.value">-->
          <!--{{ flair.viewValue }}-->
        <!--</mat-option>-->
      <!--</mat-select>-->
    <!--</mat-form-field>-->
    <!--<p></p>-->
    <!--<mat-slide-toggle>actief/inactief</mat-slide-toggle>-->

    <!--<mat-checkbox>Admin</mat-checkbox>-->
    <!--<p></p>-->
    <!--<button mat-raised-button id="aanmaken">Aanpassen</button>-->

  <!--</mat-expansion-panel>-->
  <!--<mat-expansion-panel>-->
    <!--<mat-expansion-panel-header>-->
      <!--<mat-panel-title>-->
        <!--Toevoegen product-->
      <!--</mat-panel-title>-->
      <!--<mat-panel-description>-->
      <!--</mat-panel-description>-->
    <!--</mat-expansion-panel-header>-->

    <!--<mat-form-field>-->
      <!--<input matInput placeholder="First name">-->
    <!--</mat-form-field>-->

    <!--<mat-form-field>-->
      <!--<input matInput placeholder="Age">-->
    <!--</mat-form-field>-->
  <!--</mat-expansion-panel>-->
  <!--<mat-expansion-panel>-->
    <!--<mat-expansion-panel-header>-->
      <!--<mat-panel-title>-->
        <!--Aanpassen product-->
      <!--</mat-panel-title>-->
      <!--<mat-panel-description>-->
      <!--</mat-panel-description>-->
    <!--</mat-expansion-panel-header>-->

    <!--<mat-form-field>-->
      <!--<input matInput placeholder="First name">-->
    <!--</mat-form-field>-->

    <!--<mat-form-field>-->
      <!--<input matInput placeholder="Age">-->
    <!--</mat-form-field>-->
  <!--</mat-expansion-panel>-->
<!--</mat-accordion>-->


<!--<div id="productscomponent">-->
<!--<mat-tab-group>-->
  <!--<mat-tab>-->
    <!--<ng-template mat-tab-label>-->
      <!--Gebruiker toevoegen-->
    <!--</ng-template>-->
    <!--<mat-grid-list cols="3" rowHeight="2:1">-->
      <!--<mat-grid-tile id="test">-->
      <!--</mat-grid-tile>-->
      <!--<mat-grid-tile>-->
        <!--<mat-form-field>-->
        <!--<input matInput placeholder="Voornaam">-->
        <!--</mat-form-field>-->

        <!--<mat-form-field>-->
        <!--<input matInput placeholder="Tussenvoegsel">-->
        <!--</mat-form-field>-->

        <!--<mat-form-field>-->
        <!--<input matInput placeholder="Achternaam">-->
        <!--</mat-form-field>-->

        <!--<mat-form-field>-->
        <!--<input matInput placeholder="Email">-->
        <!--</mat-form-field>-->

        <!--<mat-form-field>-->
        <!--<input matInput placeholder="Password">-->
        <!--</mat-form-field>-->

        <!--<mat-form-field>-->
        <!--<input matInput placeholder="Functie">-->
        <!--</mat-form-field>-->

        <!--<mat-form-field>-->
        <!--<input matInput placeholder="Locatie">-->
        <!--</mat-form-field>-->

        <!--<mat-form-field>-->
        <!--<mat-select placeholder="Flair">-->
        <!--<mat-option *ngFor="let flair of flairs" [value]="flair.value">-->
        <!--{{ flair.viewValue }}-->
        <!--</mat-option>-->
        <!--</mat-select>-->
        <!--</mat-form-field>-->

        <!--<mat-slide-toggle>actief/inactief</mat-slide-toggle>-->

        <!--<mat-checkbox>Admin</mat-checkbox>-->
        <!--<button mat-raised-button id="aanmaken">Aanmaken</button>-->
      <!--</mat-grid-tile>-->
    <!--</mat-grid-list>-->
    <!--<p>...</p>-->
  <!--</mat-tab>-->
  <!--<mat-tab>-->
    <!--<ng-template mat-tab-label>-->
      <!--Gebruiker aanpassen-->
    <!--</ng-template>-->
    <!--<h1>Terrible sushi restaurants</h1>-->
    <!--<p>...</p>-->
  <!--</mat-tab>-->
  <!--<mat-tab>-->
    <!--<ng-template mat-tab-label>-->
      <!--Product toevoegen-->
    <!--</ng-template>-->
    <!--<h1>Terrible sushi restaurants</h1>-->
    <!--<p>...</p>-->
  <!--</mat-tab>-->
  <!--<mat-tab>-->
    <!--<ng-template mat-tab-label>-->
      <!--Product aanpassen-->
    <!--</ng-template>-->
    <!--<h1>Terrible sushi restaurants</h1>-->
    <!--<p>...</p>-->
  <!--</mat-tab>-->
<!--</mat-tab-group>-->
<!--</div>-->
