mat-grid-tile {
  background: lightblue;
}
/*:host {*/
  /*flex-grow: 1;*/
  /*display: flex;*/
  /*justify-content: center;*/
  /*align-items: center;*/
/*}*/
.example-card {
  max-width: 250px;
  display: inline-block;
  margin: 1%;
}
.toevoegen {
  float: right;
}
/*#test {*/
  /*background: url("../resources/images/header2.png") no-repeat center 0;*/

/*}*/

/*#productscomponent {*/
  /*margin: 0px;*/
/*}*/
