/*:host {*/
  /*display: inline-block;*/
  /*border: 1px solid black;*/
  /**/
/*}*/

.left-menu {
  alignment: left;
  background-color: #E0F8F7;
}

#left-menu {
  /*margin: 30px;*/

}

.lefttab {
  margin: 10px;
}

.expansion {
  font-size: 0.8em;
}

.center-container, .side-menu-wrap {
  /*height: 100%;*/
  min-height: calc(100vh - 140px);
  min-width: 16%;
  max-width: 16%;
  float: left;
  background-color: #E0F8F7;
  /*border: 1px solid grey;*/
  border-top: 0;
  margin-right: 15px;
  /*margin-top: 2%*/
}
.mat-card {
  min-height: calc(100vh - 140px);
}
#productbutton {
  width: 100%;
}

.a {
  margin:5px !important

}
.listbutton {
  width: 100%;

}

.list {
  padding: 10px;


}

#main-menu {
  margin-top: 50px;
}

