<div id="left-menu" class="side-menu-wrap">
  <!--<nav id="main-menu" class="left-menu">-->
    <!--<ul>-->
      <!--<li><a [class.selected]="router.url === '/products'" routerLink="/" class="link" >inname cliënt</a></li>-->
      <!--<li><a [class.selected]="router.url === '/charts'" routerLink="/charts" class="link">grafieken</a></li>-->
      <!--<li><a [class.selected]="router.url === '/adh'" routerLink="/adh" class="link" >dagelijkse hoeveelheid</a></li>-->
      <!--<li><a [class.selected]="router.url === '/producten'" routerLink="/producten" class="link" >eigen producten</a></li>-->
      <!--<li><a routerLink="/wistjedat" class="link" >wist je dat</a></li>-->

      <!--<li id="admin-link"><a [class.selected]="router.url === '/admin'" routerLink="/admin" class="link" *ngIf="!admin">-->
        <!--<i id="close-filter-icon" class="material-icons">vpn_key</i>-->
        <!--admin tools-->
      <!--</a></li>-->

    <!--</ul>-->
  <!--</nav>-->
  <!--<nav id="user-menu" class="left-menu">-->

    <!--<a routerLink="/gebruiker" class="button user-link">-->
      <!--<i class="material-icons">person</i>-->
    <!--</a>-->
    <!--<p class="user-greeting">Hello <b>{{firstName}}</b></p>-->
    <!--<a (click)="logout()" routerLink="/login" class="link logout-link">log uit</a>-->

  <!--</nav>-->


</div>
