<div id="left-menu" class="side-menu-wrap">
  <nav id="main-menu" class="left-menu">
    <ul>
      <li><a [class.selected]="router.url === '/products'" routerLink="/" class="link" >products</a></li>
      <li><a [class.selected]="router.url === '/admin'" routerLink="/admin" class="link">admin</a></li>
      <li><a [class.selected]="router.url === '/blabla'" routerLink="/blabla" class="link" >blabla</a></li>
      <li><a [class.selected]="router.url === '/blablabla'" routerLink="/producten" class="link" >blablabla</a></li>
      <li><a routerLink="/wistjedat" class="link" >blabla</a></li>

      <li id="admin-link"><a [class.selected]="router.url === '/admin'" routerLink="/admin" class="link" *ngIf="!adminBoolean">
        admin tools
      </a></li>

    </ul>
  </nav>
  <button mat-raised-button routerLink="/">Producten</button>
  <button mat-raised-button routerLink="/">Contact</button>
  <button mat-raised-button routerLink="/">Voorwaarden</button>
</div>
